@media(max-width: 1650px) {
    .home__content-imgmenbacklayer4 {
        max-width: 1000px;
        max-height: 1000px;
    }



}

@media(max-width: 1200px) {
    .header__wrapper {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }

    .header__logo {
        margin-right: 30px;
    }

    .navigation__item:not(:last-child) {
        margin-right: 30px;
    }

    .header__content-imgmenbacklayer {
        display: none;
    }

    .home__content-imgmenbacklayer2,
    .home__content-imgmenbacklayer3,
    .home__content-imgmenbacklayer4 {
        display: none;
    }

    .home__content-box {
        flex-direction: column;
        justify-content: center;

    }

    .home__content-title,
    .home__content-title2,
    .home__content-title3 {
        padding-left: 0;
        padding-bottom: 40px;
        text-align: center;

    }

    .home__content-imgwrap {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .home__btnwrap {
        position: unset;
        padding-top: 30px;
    }

    .home__btnwrapp {
        padding: 0px 1px 50px 1px;

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -4px;
        left: unset;
    }

    .services__list {
        flex-wrap: wrap;
    }

    .services__item {
        min-width: calc((100% - var(--gap30) * 1) / 2);
    }

    .services__item:not(:last-child) {
        margin-right: 0;
    }

    .services__item {
        margin-bottom: var(--gap30);
        border-radius: 20px;
    }

    .services__item:nth-child(odd) {
        margin-right: var(--gap30);

    }

    .aboutus__list {
        flex-wrap: wrap;
    }

    .aboutus__item {
        min-width: calc((100% - var(--gap30) * 1) / 2);
    }

    .aboutus__item:not(:last-child) {
        margin-right: 0;
    }

    .aboutus__item {
        margin-bottom: var(--gap30);

    }

    .aboutus__item:nth-child(odd) {
        margin-right: var(--gap30);

    }

    .aboutus__descrwrap-img {
        min-width: 400px;
        min-height: 280px;
    }



    .portfolio__sliderwrap {

        /* background-color: #E8E8E8; */
    }

    .portfolio__slider-img {
        position: relative;
        min-width: 400px;
        min-height: 333px;
        border-radius: 20px 20px 20px 20px;
    }

    .portfolio__slider-grayconer {
        width: 30px;
        height: 30px;
        background-color: #E8E8E8;
        z-index: -1;
    }

    .mySwiper2 .swiper-pagination-fraction {
        left: 0;

    }

    .swiper {
        position: relative;
    }

    .portfolio__btnwrap-mobile {

        display: block;

    }

    .portfolio__btnwrapp {
        display: flex;
        justify-content: center;
    }

    .portfolio__paginationnum1 {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #272727;
        margin-right: 220px;
        z-index: -1;

    }

    .portfolio__paginationnum2 {
        display: block;
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #272727;
        z-index: -1;
    }

    .portfolio__btnwrapp {
        padding-top: 20px;
    }

    .portfolio__slider-pagination {
        display: none;
    }

    .contacts__map {
        margin-left: 30px;
    }



}


@media (max-width: 992px) {

    .header__nav,
    .header__contact {
        display: none;
    }

    .header__wrapper {
        justify-content: space-between;
    }

    .header__logo {
        margin-left: 30px;
    }

    .aboutus__descrwrap {
        flex-direction: column-reverse;
        padding-bottom: 56px;
    }

    .aboutus__descrtitle {
        text-align: center;
    }

    .aboutus__descrtext {

        min-width: 100%;
    }

    .aboutus__item {
        padding-top: 50px;
    }

    .services__listpartners {

        flex-direction: column;
        align-items: center;
    }

  

    .services__itempartners:not(:last-child) {
        margin-right: 0;
    }

    .services__itempartners {
        min-width: 500px;
        margin-bottom: 30px;
    }




    .services__listpartners {
        justify-content: center;
    }

    .services__itempartners {
        min-height: 375px;
    }

    .portfolio__slider-paginationbox {
        min-height: 0;
    }

    .portfolioemtycell-two {
        position: absolute;
        min-height: 0;
        width: 0;
        visibility: hidden;
    }


    .portfolioemtycell-one {
        position: absolute;
        height: 0%;
        width: 0%;
        visibility: hidden;
    }


    .portfolio__slider-img {
        min-height: 0px;
        height: 330px;
        max-width: 700px;
    }

    .portfolio__sliderwrap {
        align-items: center;
        background-color: #E8E8E8;
        flex-direction: column-reverse;

    }

    .form__nameemail-item {
        font-size: 14px;
    }

    .form__nameemail-name,
    .form__nameemail-tel {
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }

    .contacts__wrap {
        flex-direction: column;
        align-items: center;


    }

    .contacts__map {
        width: 100%;
        margin-left: 0;

    }

    .contacts__contact {
        text-align: center;

    }

    .contactlist__item {
        justify-content: center;
    }

    .contacts__link {
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer__contacts {
        display: none;
    }

    .footer__menu {
        margin-right: 0;
        width: 35%;
    }

    .footer__wrap {
        justify-content: space-between;
    }

    .footer__descr {
        width: 65%;
    }

    .portfolio__slider-descr {
        padding-right: 0;
        padding-bottom: 50;
        border-radius: 35px;
    }

    .portfolio__slider-descrtext {
        padding-right: 70px;
        margin-right: 0;

    }



}

@media(max-width: 767px) {

    .aboutus__item {
        min-width: 100%;
    }

    .services__item {
        width: 100%;

    }

    .services__item:nth-child(odd) {
        margin-right: 0;
    }


.aboutus__bufer {
    height: 100px;
}

.aboutus__item{
padding-top: 35px;
padding-bottom: 35px;
}

.form__nameemail {
    flex-direction: column;
}

.form__nameemail-name{
    margin-bottom: 20px;
}


}



@media(max-width: 680px) {}

@media(max-width: 576px) {}